<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>867379790697-3jmach4bg4ffi6j61ur9uk6bedlsdq3g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867379790697-3jmach4bg4ffi6j61ur9uk6bedlsdq3g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>867379790697-inla639e0jv4v0vne88410sft8039qdv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBgI6LrTx8SVWUMT4BKXHCrZpguoH2LZhg</string>
	<key>GCM_SENDER_ID</key>
	<string>867379790697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.klk.klkmsn</string>
	<key>PROJECT_ID</key>
	<string>klk-messenger</string>
	<key>STORAGE_BUCKET</key>
	<string>klk-messenger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867379790697:ios:7b678c28d90035ba2ef3f8</string>
	<key>DATABASE_URL</key>
	<string>https://klk-messenger.firebaseio.com</string>
</dict>
</plist>